<mat-card class="profile-outer" *ngFor="let sp of profile">
    <mat-card class="profile-inner-left">
        <div class="profile-pic">
              
        </div>
        <div class="profile-text">
        <h2>{{sp.name}}</h2>
        <p>{{sp.role}}</p>
        <p><i class="fas fa-phone-alt"></i> {{sp.mobileNo}}</p>
        <p><i class="far fa-envelope"></i> {{sp.email}}</p>
        </div>
        
    </mat-card>
    <mat-card class="profile-inner-right">
       <div class="right-profile-text">
            <h3>Profile Details</h3><br/>
           

            <div class="data-label">
                <table>
                    <tr>
                        <td><i class="fas fa-user-tag"></i> Domain</td>
                    </tr>
                    <tr>
                            <td><i class="fas fa-tools"></i>  Skills</td>
                        </tr>
                        <tr>
                                <td><i class="fas fa-coins"></i>  Cost</td>
                            </tr>
                            <tr>
                                    <td><i class="fas fa-project-diagram"></i> Previous Projects</td>
                                </tr>
                        <tr>
                                <td><i class="fas fa-thumbtack"></i> Current Location</td>
                            </tr>
                            <tr>
                                    <td><i class="fas fa-map-marker-alt"></i> Preferred Location</td>
                                </tr>
                </table>
            </div>
            <div class="data-values">
                    <table>
                        <tr>
                            <td>{{sp.domain}}</td>
                        </tr>
                        <tr>
                                <td>{{sp.skills}}</td>
                            </tr>
                            <tr>
                                    <td>{{sp.cost}}</td>
                                </tr>
                                <tr>
                                        <td>{{sp.previousProjects}}</td>
                                    </tr>
                            <tr>
                                    <td>{{sp.currentLocation}}</td>
                                </tr>
                                <tr>
                                        <td>{{sp.preferredLocation}}</td>
                                    </tr>
                    </table>
                </div>
            
       </div> 

       

    </mat-card>
</mat-card>