<!-- <h2 style="text-align: center">Login with JWT</h2>

<div style="text-align: center">
    <input [(ngModel)]="user.text" class="form-control" type="text">
        <br>
            <br>
                <input [(ngModel)]="user.password" class="form-control" id="password" type="password">
                    <br>
                        <br>
                            <button (click)="saveUser(user)" [routerLink]="['/homepage']" class="btn btn-success" routerLinkActive="router-link-active" type="button">Login</button>
                        </div>

                        <div>
                            <button class="btn"  type="submit" (click)="signInWithGoogle('Google')">Sign in with Google</button><br>
                        </div> -->

                        
