.small-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
  }
  
  .small-box {
    height: 200px;
    width: 200px;
    display: inline-flex;
  }

  .example-large-box {
    height: 400px;
    width: 400px;
  }

  .card {
    max-width: 200px;
  }
  .cardGroup{
    display: flex;
  }
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

